/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


ul {
  list-style-type: none; 
  padding: 0;             
  margin: 0;              
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;  
  gap: 24px;
  justify-content: center;
  max-width: 1128px;
  margin: 0 auto; 
  padding: 24px;
    
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  flex-shrink: 0;
  box-sizing: border-box;  
  border: 2px solid transparent;     
}

.gallery-item:hover .gallery-image {transform: scale(1.05);}

.gallery-image {
  display: block;
  width: 100%;   
  height: 200px;    
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease; 
}





.container-form {
  margin: 0;
  display: flex;
  justify-content: center;
}

.feedback-form {
  display: flex;
  flex-direction: column; 
  gap: 8px;              
  width: 360px;         
  border-radius: 8px;
  box-sizing: border-box;
}

.form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 8px;         
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form-input, 
.form-textarea {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  box-sizing: border-box;
}

.form-input:focus, 
.form-textarea:focus {
  border: 1px solid #000;
}

.form-submit-btn {
  width: 95px;          
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.form-submit-btn:hover {
  background-color: #6c8cff;
}